 {# TODO: I need to find a slider from https://tailwindcomponents.com/ #}
 {%load static%}

<div class="container-fluid" style="margin: 0; padding: 0" > 
        <!-- HERO SECTION -->
        
            <div class="z-30 relative items-center justify-center w-full w-screen h-screen">
                <div>
                    <div class="inset-0  w-full h-screen">
                        <!-- <video 
                            src="https://youtu.be/OhyQRljsp2w" 
                            autoplay 
                            muted 
                            loop 
                            class="object-cover w-full h-full"
                        >
                        </video>      -->
                         <iframe class="object-cover w-full h-full" src="https://www.youtube-nocookie.com/embed/lwtFl0WrzAY?controls=0"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    </div>    
                </div>
            </div>
        <!-- HERO SECTION END -->
</div>